langchain-community
faiss-cpu
langchain_google_genai
pypdf
langchain 
langchain-pinecone
weaviate-client
langchain_weaviate
wikipedia
langgraph
pydantic
chromadb
langchain-chroma
youtube-search-python
youtube-search
